.weatherDis {
height : 300px;

}

.jumbie {
 text-align: center;

}

.searchie {


}

.listie {


}

.dayO {

    width: 20%;
    float: left;
}

.dayT {

    width: 20%;
    float: left;
}

.dayH {

    width: 20%;
    float: left;
}

.dayF {

    width: 20%;
    float: left;
}

.dayI {

    width: 20%;
    float: left;
}

