.weatherDis {
height : 350px;
text-align: center;

}

.jumbie {
 text-align: center;
 
}

.jumbotron {
    background-image: url("./Assets/clouds.jpg");

}
.searchie {


}

.listie {
text-decoration: black;
font-size: 45px;
padding: 10px;
text-align: center;


}

.dayO {

    width: 20%;
    float: left;
    text-align: center;
}

.dayT {

    width: 20%;
    float: left;
    text-align: center;
}

.dayH {

    width: 20%;
    float: left;
    text-align: center;
}

.dayF {

    width: 20%;
    float: left;
    text-align: center;
}

.dayI {

    width: 20%;
    float: left;
    text-align: center;
}

.good {
    background-color: rgb(30, 49, 176)
}

.moderate {
    background-color: rgb(65, 163, 26)
}
.high {
    background-color: rgb(214, 208, 30)
}
.severe {
    background-color: rgb(194, 29, 29)
}

.uv {
    border-radius: 2rem;
    text-align: center;
    

}

.bigboi{

    background-image: url("./Assets/clouds.jpg");
}
