.weatherDis {
height : 300px;

}

.jumbie {
 text-align: center;

}

.searchie {


}

.listie {


}

.dayO {

    width: 20%;
    float: left;
}

.dayT {

    width: 20%;
    float: left;
}

.dayH {

    width: 20%;
    float: left;
}

.dayF {

    width: 20%;
    float: left;
}

.dayI {

    width: 20%;
    float: left;
}

.good {
    color: rgb(30, 49, 176)
}

.moderate {
    color: rgb(65, 163, 26)
}
.high {
    color: rgb(214, 208, 30)
}
.severe {
    color: rgb(194, 29, 29)
}
